<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REST API - MVC</title>
  <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css">
</head>

<body>
  <div id="app" class="container is-max-desktop">
    <div class="mt-2">
      <%- 
        (!user) ? 
          '<a href="/login" class="button is-primary">Login</a>' :
          '<a href="/logout" class="button is-danger">Logout</a>'
      %>
      <a href="/admin" class="button is-danger">Admin Page</a>
      <a href="/" class="button is-danger">Home Page</a>
    </div>
    
    <div><a href="/admin/member/create" class="button is-success" style="margin-top: 10px;">Add New</a>
      <table class="table is-striped is-bordered mt-3 is-fullwidth" style="margin: 10px auto;">
        <thead>
          <tr>
            <th>Member Name</th>
            <th>Active</th>
            <th class="has-text-centered">Actions</th>
          </tr>
        </thead>
        <tbody>
          
          
          <% members.map(member=> { %>
            <tr>
              <td>
                <%= member.name %>
              </td>
              <td>
                <%= member.active %>
              </td>
              <td class="has-text-centered">
                <a href="/admin/member/edit/<%= member.id %>" class="button is-warning is-small">Edit</a>

                <button onclick=<%="del(" + member.id + ")" %> class="button is-danger is-small"
                  style="margin-left: 5px;">Delete</button>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    let del = (id) => {
      alert('call REST /api/members/' + id)
      axios.delete('/admin/api/members/' + id).then((result) => {
        alert('Info status: ' + result.status)
        location.reload();
      }).catch((err) => {
        alert('error ' + err)
      });
    }

  </script>
</body>

</html>